{% extends 'network_app/base.html' %}
{% block script %}
    <script type="text/javascript">//<![CDATA[
    $(function () {
        $('#backup_all').click(function () {
            var socket = new WebSocket("ws://" + window.location.host + "/echo_once/");
            socket.onopen = function () {
                console.log('WebSocket open');//成功连接上Websocket
                socket.send($('#backup_all').val());//发送数据到服务端
            };
            socket.onmessage = function (e) {
                console.log('message: ' + e.data);//打印服务端返回的数据
                $('#messagecontainer').prepend('<p><pre>' + e.data + '</pre></p><hr />');
            };
        });
    });
    </script>
{% endblock %}
{% block title %}网络设备配置备份{% endblock %}
{% block content %}
    {% if not request.session.is_login %}
    <h4>您尚未登录，请登录后使用本系统！</h4>
    {% endif %}
    <h4>请输入TFTP服务器地址:</h4>
    <input type="text" id="message" value=""/>
    <button type="button" id="connect_websocket">连接 websocket</button>
    <button type="button" id="send_message">发送 message</button>
    <button type="button" id="close_websocket">关闭 websocket</button>
    <h1>Received Messages</h1>
    <div id="messagecontainer">

    </div>


<h3 style="margin: 20px;">备份执行情况:</h3>
<div id="messagecontainer" style="margin: 20px;">
</div>
<hr/>
    </div>
{% endblock %}